body{

    background-image: url("/Html-U/Q-1/imagenes/Ellie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
color: whitesmoke;

}
p{
    color: whitesmoke;
    font-size: 25px;

}