body{

    background-image: url("Arthas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: whitesmoke;
    
    }
p{
    color: whitesmoke;
    font-size: 25px;
    
}